
<%- include('header'); -%>

<h2>This is a about page</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis eligendi maiores corrupti delectus labore vitae! Unde quaerat, nam provident aliquam voluptates nesciunt voluptatibus porro, odio quidem quos dicta? Animi, rem?</p>


<%- include('footer'); -%>